[submodule "jQuery.imgUtil"]
	path = jQuery.imgUtil
	url = https://github.com/Takazudo/jQuery.imgUtil.git
[submodule "jQuery.ui.domwindow"]
	path = jQuery.ui.domwindow
	url = https://github.com/Takazudo/jQuery.ui.domwindow.git
